<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="#">
    <script src="/static/js/script.js" defer></script>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="POST">
    <h1>WELCOME</h1>
    <div>
        Hello, {{ username }}!
    </div>
    <button type="submit"> Log out</button>
</form>
</body>
</html>